* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    padding: 3vw 3vw 9vw 3vw;
}
h3 {
    color: #aeaeae;
}
#container {
    background-color: #4169e1;
    padding: 2vw;
    border-radius: 1em;
    border: none;
    font-size: 1.2em;
    text-align: center;
    margin: 1em auto;
    color: white;
}
@media screen and (max-width: 1000px) {
    #container {
        text-align: center;
        font-size: 1em;
        padding: 1.5em;
        height: auto;
    }
}

#buttons, .category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1vw;
}
#personal{
    background-color: #a4c8e1;
    width: 10em;
    padding: .5em;
    border: none;
    border-radius: .5em;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    cursor: pointer;
}
.personal {
    width: 10em;
    padding: .5em;
    border: none;
    border-radius: .5em;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    cursor: pointer;
    background-color: #e0e0e0;
}
#work, .work {
    background-color: #e0e0e0;
    width: 10em;
    padding: .5em;
    border: none;
    border-radius: .5em;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    #buttons {
        padding: none;
    }
}

@media screen and (max-width: 576px) {
    #personal, .personal, #work, .work {
        width: 8em;
    }
}

footer {
    border-top: .2em solid #e0e0e0;
    position: fixed;
    bottom: 1vw;
    left: 0;
    width: 100%;
    padding: 0 3vw;
    z-index: 1000;
    background-color: #fff;
}
#foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    transform: translateY(10%);
}
.footimage {
    text-align: center;
    color: #e0e0e0;
    cursor: pointer;
}
.footimage.active {
    text-align: center;
    color: #4169e1;
    cursor: pointer;
}
#taskImg {
    background-color: #4169e1;
    mix-blend-mode: multiply;
    border-radius: 100%;
    width: 3em;
}
#personImg {
    background-color: #e0e0e0;
    mix-blend-mode: multiply;
    border-radius: 100%;
    width: 3em;
}
#add {
    background-color: #4169e1;
    position: fixed;
    bottom: 20%;
    right: 3vw;
    border-radius: 100%;
    z-index: 1;
    cursor: pointer;
    width: 3em;
    height: 3em;
}
#add img {
    width: 3em;
}
@media screen and (max-width: 1240px) {
    #add {
        bottom: 25%;
        background-color: #4169e1;
        position: fixed;
        right: 3vw;
    }
    footer {
        padding: 3vw;
    }
}
@media screen and (max-width: 576px) {
    #personImg, #taskImg {
        width: 3em;
    }
    #add {
        bottom: 17%;
        background-color: #4169e1;
        position: fixed;
        right: 1em;
    }
}

.mainDiv {
    background-color: white;
    z-index: 999;
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 5em;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 1000px) {
    .mainDiv {
        height: 100%;
        width: 100%;
    }
}
@media screen and (max-width: 576px) {
    .mainDiv {
        padding: 0 1em;
    }
}
.firstTask {
    margin: 0 2em;
    border-bottom: 2px solid #e0e0e0;
    border-radius: .5em;
}
.taskText {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: .5em;
    margin-bottom: .5em;
}
.inputTask {
    width: 100%;
    height: 3em;
    padding: 1em;
    margin-bottom: .5em;
    font-size: 16px;
}
.categoryText {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: .5em;
    margin-bottom: .5em;
}
.description {
    width: 100%;
    border-radius: .5em;
    padding: .5em 3em;
    font-size: 16px;
    border: 1px solid #e0e0e0;
    background-color: #f5f0f0;
    margin: .5em auto;
}
.taskDate, .taskTime {
    width: 12.5em;
    height: 3em;
    border-radius: .5em;
    cursor: pointer;
}
@media screen and (max-width: 576px) {
    .taskDate, .taskTime {
        width: 8.5em;
    }
}
.timeDiv {
    display: flex;
    justify-content: space-between;
    margin-top: .5em;
    gap: 1em;
    margin-bottom: .5em;
    font-size: 1.1rem;
    font-weight: 700;
}

/* Style for initial tasks */
.taskContainer {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    border-radius: .5em;
    border: none;
    margin: .5em auto;
    padding: 1em;
    align-items: center;
    justify-content: flex-start;
}
.tasksHome {
    gap: .5em;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 1em;
}
.taskDetails {
    text-align: center;
    display: flex;
    align-self: center;
    border-top: 2px solid #aeaeae;
    border-radius: .5em;
    width: 50%;
    margin-top: 1em;
    padding-top: 1em;
}
@media screen and (max-width: 1000px) {
    .taskDetails {
        width: 100%;
    }
}
.check {
    border-radius: 50%;
    margin: 0 .5em;
    cursor: pointer;
    height: 1em;
    width: 1em;
}
.taskText {
    font-size: 16px;
    font-weight: 600;
    color: black;
    word-wrap: break-word;
    width: 55%;
}
#divs2 {
    padding: 1rem;
    margin: 1rem 0;
}

#taskContent {
    padding: .5rem;
    margin: 1rem 0;
}

.removeBtn {
    position: absolute;
    right: 1.5em;
    background-color: red;
    border: none;
    border-radius: .5em;
    padding: .5em 1em;
    color: white;
    cursor: pointer;
}
.removeBtn:hover {
    background-color: darkred;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.taskDetails {
    display: block;
}