* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    padding: 3vw;
}
h3 {
    color: #aeaeae;
}
#container {
    background-color: rgb(81, 81, 253);
    padding: 2vw;
    border-radius: 1em;
    border: none;
    font-size: 1.7em;
    text-align: center;
    margin: 1em auto;
    color: white;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1000px) {
    #container {
        text-align: left;
        font-size: 1.5em;
        padding: 1.5em;
        height: auto;
    }
}

#buttons, .category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1vw;
}
#personal, .personal {
    background-color: #B9CDF5;
    width: 8em;
    padding: 1em;
    border: none;
    border-radius: 1em;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    cursor: pointer;
}
#work, .work {
    background-color: #aeaeae;
    width: 8em;
    padding: 1em;
    border: none;
    border-radius: 1em;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    #buttons {
        padding: none;
    }
}

@media screen and (max-width: 576px) {
    #personal, .personal, #work, .work {
        width: 6.5em;
    }
}

footer {
    border-top: .2em solid #aeaeae;
    position: fixed;
    bottom: 1vw;
    left: 0;
    width: 100%;
    padding: 0 3vw;
    z-index: 1;
}
#foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
    align-self: center;
    transform: translateY(10%);
}
.footimage {
    text-align: center;
    color: rgb(242, 240, 240);
    cursor: pointer;
}
.footimage:active {
    color: blue;
}
#taskImg {
    background-color: #aeaeae;
    mix-blend-mode: multiply;
    border-radius: 100%;
    width: 3em;
}
#personImg {
    background-color: #aeaeae;
    mix-blend-mode: multiply;
    border-radius: 100%;
    width: 3em;
}
#personImg:active, #taskImg:active {
    background-color: blue;
}
#add {
    background-color: blue;
    position: fixed;
    bottom: 20%;
    right: 5.5em;
    border-radius: 100%;
    z-index: 1;
    cursor: pointer;
    width: 3em;
    height: 3em;
}
#add img {
    width: 3em;
}
@media screen and (max-width: 1240px) {
    #add {
        bottom: 15%;
        background-color: blue;
        position: fixed;
        right: 4.5em;
    }
}
@media screen and (max-width: 576px) {
    #personImg, #taskImg {
        width: 3em;
    }
    #add {
        bottom: 15%;
        background-color: blue;
        position: fixed;
        right: 3em;
    }
}

.mainDiv {
    background-color: white;
    z-index: 999;
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 5em;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 1000px) {
    .mainDiv {
        height: 70%;
        width: 95%;
        margin-left: 2.5%;
    }
}
@media screen and (max-width: 576px) {
    .mainDiv {
        padding: 0 1em;
    }
}
.firstTask {
    margin: 0 2em;
    border-bottom: 2px solid #aeaeae;
    border-radius: .5em;
}
.taskText {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1.5em;
    margin-bottom: .5em;
}
.inputTask {
    width: 100%;
    height: 3em;
    padding: 1em;
    margin-bottom: 1.5em;
}
.categoryText {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: .5em;
    margin-bottom: .5em;
}
.description {
    width: 100%;
    border-radius: .5em;
    padding: .5em 3em;
    border: 1px solid #aeaeae;
    background-color: #f5f0f0;
    margin: .5em auto;
}
.taskDate, .taskTime {
    width: 10.5em;
    height: 3em;
    border-radius: .5em;
    cursor: pointer;
}
@media screen and (max-width: 576px) {
    .taskDate, .taskTime {
        width: 8.5em;
    }
}
.timeDiv {
    display: flex;
    justify-content: space-between;
    margin-top: .5em;
    margin-bottom: .5em;
}
